body{
margin:0;
font-family:Tajawal, sans-serif;
background:#0f172a;
color:#fff;
text-align:center;
}

header{
padding:20px;
background:#020617;
}

nav a{
margin:10px;
color:#38bdf8;
text-decoration:none;
}

.hero{
padding:50px;
}

.btn{
background:#22c55e;
color:#000;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
}

.form-box, .contact-form, .complaints{
max-width:500px;
margin:30px auto;
background:#111;
padding:20px;
border-radius:10px;
text-align:right;
}

input,textarea,button{
width:100%;
margin:8px 0;
padding:10px;
}

button{
background:#22c55e;
color:#000;
border:none;
cursor:pointer;
border-radius:8px;
width:100%;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.card{
background:#020617;
padding:20px;
border-radius:12px;
text-align:right;
}

.watermark{
position:fixed;
opacity:.05;
top:30%;
left:30%;
width:300px;
z-index:-1;
}